.contact-button {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #3B3486;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #3B3486;
}

.red-button {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #864AF9;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #3B3486;
}

.contact-button:hover {
    color: #eaeaea;
    box-shadow: inset 0 -100px 0 0 #3B3486;
}

.red-button:hover {
    color: #eaeaea;
    box-shadow: inset 0 -100px 0 0 #864AF9;
}

.contact-button:active {
    transform: scale(0.9);
}