@import "tailwindcss";

@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('../../Fonts/generalsans/Fonts/WEB/fonts/GeneralSans-Variable.woff2') format('woff2'),
    url('../../Fonts/generalsans/Fonts/WEB/fonts/GeneralSans-Variable.woff') format('woff'),
    url('../../Fonts/generalsans/Fonts/WEB/fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-VariableItalic';
  src: url('../../Fonts/generalsans/Fonts/WEB/fonts/GeneralSans-VariableItalic.woff2') format('woff2'),
    url('../../Fonts/generalsans/Fonts/WEB/fonts/GeneralSans-VariableItalic.woff') format('woff'),
    url('../../Fonts/generalsans/Fonts/WEB/fonts/GeneralSans-VariableItalic.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --border: 240 6% 90%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --card: 240 5% 96%;
  --card-foreground: 222.2 84% 4.9%;
  --success: 142 76% 36%;
  --error: 0 84% 60%;
  --warning: 38 92% 50%;
}


@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-border: hsl(var(--border));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-success: hsl(var(--success));
  --color-error: hsl(var(--error));
  --color-warning: hsl(var(--warning));
}

/* html[data-theme="dark"] {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;
  --border: 217 33% 17%;
} */

@layer base {
  * {
    border-color: var(--color-border);
  }

  html {
    font-family: "GeneralSans", sans-serif;
    letter-spacing: 0.5px;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
}